<div class="well well-sm">
  <h4>Timer</h4>
  <p>Simple way to use the timer.</p>
  <div class="text-center">
    <ng-timer timer="timer"></ng-timer>
    <button ng-click="onRestartTimer()" class="btn btn-primary glyphicon glyphicon-repeat"></button>
    <button ng-click="onResetTimer()" class="btn btn-primary glyphicon glyphicon-stop"></button>
    <button ng-click="onStartTimer()" class="btn btn-primary glyphicon glyphicon-play"></button>
    <button ng-click="onStopTimer()" class="btn btn-primary glyphicon glyphicon-pause"></button>
  </div>
</div>
