<h4>Timer</h4>
<div class="well well-sm text-center">
  <ng-timer count="timer._count" format="HHMMSS"></ng-timer>

  <button ng-click="onRestartTimer()" class="btn btn-primary glyphicon glyphicon-repeat"></button>
  <button ng-click="onResetTimer()" class="btn btn-primary glyphicon glyphicon-stop"></button>
  <button ng-click="onStartTimer()" class="btn btn-primary glyphicon glyphicon-play"></button>
  <button ng-click="onStopTimer()" class="btn btn-primary glyphicon glyphicon-pause"></button>
</div>
