<div class="well well-sm">
  <h4>Timer Circle</h4>
  <p>Funky circle timer.</p>
  <div class="text-center">
    <ng-timer count="timer._count" type="circle"></ng-timer>
    <button ng-click="onRestartTimer()" class="btn btn-primary glyphicon glyphicon-repeat"></button>
    <button ng-click="onResetTimer()" class="btn btn-primary glyphicon glyphicon-stop"></button>
    <button ng-click="onStartTimer()" class="btn btn-primary glyphicon glyphicon-play"></button>
    <button ng-click="onStopTimer()" class="btn btn-primary glyphicon glyphicon-pause"></button>
  </div>
</div>
