<div class="well well-sm">
  <h4>Timers</h4>
  <p>Easy to use many independant timers.</p>
  <div class="text-center">
    <ng-timer timer="timer1"></ng-timer>
    <button ng-click="onRestartTimer1()" class="btn btn-primary glyphicon glyphicon-repeat"></button>
    <button ng-click="onResetTimer1()" class="btn btn-primary glyphicon glyphicon-stop"></button>
    <button ng-click="onStartTimer1()" class="btn btn-primary glyphicon glyphicon-play"></button>
    <button ng-click="onStopTimer1()" class="btn btn-primary glyphicon glyphicon-pause"></button>

    <ng-timer timer="timer2"></ng-timer>
    <button ng-click="onRestartTimer2()" class="btn btn-success glyphicon glyphicon-repeat"></button>
    <button ng-click="onResetTimer2()" class="btn btn-success glyphicon glyphicon-stop"></button>
    <button ng-click="onStartTimer2()" class="btn btn-success glyphicon glyphicon-play"></button>
    <button ng-click="onStopTimer2()" class="btn btn-success glyphicon glyphicon-pause"></button>
  </div>
</div>
